
*.autosave
*.pro.user
*.qbs.user
*.pro.user.*
*.qbs.user.*
.qtc_clangd/
.qmake.stash
CMakeLists.txt.user*
*.moc
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.user
*.idx
*.pro
*.layout
*.depend
*.layout.save
*.cbTemp
*.log
*.tmp
*.bak
*.swp
*.json
*.cbp
.DS_Store
Thumbs.db

# Makefile i pochodne
Makefile
Makefile.Debug
Makefile.Release

