*.autosave
*.pro.user
*.qbs.user
*.pro.user.*
*.qbs.user.*
.qtc_clangd/
.qmake.stash
CMakeLists.txt.user*
*.moc
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.user
*.idx
*.pro

*.layout
*.depend
*.layout.save
*.cbTemp
*.obj
*.exe
*.o

# Ogólne
*.log
*.tmp
*.bak
*.swp
*.json
.DS_Store
Thumbs.db
